{% extends "base.html" %}
{% block title %}student_search.html{% endblock %}
{% block content %}
    <h1>Student Search</h1>
    <br>
    <form action="." method="post"> {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
    </form>
    <br/><br/>
    {% if object_list %}
        {% for student in object_list %}
        <h2><a href='{{ student.get_absolute_url }}'>{{ student.name }}</a></h2>
        {{ student.modify_dt|date:"N d, Y" }}
        <p>{{ student.studentnum}}</p>
        <p>{{ student.lecture}}</p>
        <p>{{ student.professor}}</p>
        {% endfor %}
    {% elif search_term %}
    <b><i>Search Word({{ search_term }}) Not Found !</i></b>
    {% endif %}
{% endblock %}